@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap'); /*Merubah gaya hurufnya menjadi quicksand*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

/* memberikan hover pada link nav */
.navbar-collapse ul li a {
  transition: .2s;
  border-radius: 5px;
  padding: 5px 10px;
}
.navbar-collapse ul li a:hover {
  background-color: green;
  color: white;
}

/* menyesuaikan ukuran dari carousel img */
.carousel-inner img {
  height: 88vh;    
  object-fit: cover; 
}

/* main */
main {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main aside {
  padding-top: 40px;
}
main aside ul li a {
  text-decoration: none;
}
main article h3 {
  font-size: 2rem;
  font-weight: 600;
}
main article h3 span {
  color: green;
}
main article .misi img {
  width: 100%;
}
/* main */

@media (max-width: 767px) { /* Menyesuaikan ukuran huruf di lebar ponsel */
    .carousel-caption h5 {
      font-size: 1.4rem; 
    }
    .carousel-caption p {
      font-size: 0.9rem;   
    }
  }

  
  